body {
	font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}

h1, h2, h3, h4 {
	font-family: ff-clan-web-pro-wide,"Helvetica Neue",Helvetica,sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #222231;
	margin-top: 0px;
}

.back {
	margin-bottom: 8px;
}
